<section class="content" id="productManager">
  <br />
  <div class="row">
    <div class="col-xs-12 col-md-12 col-lg-12">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h2 class="box-title">Products</h2>
        </div>
        <div class="box-body">
          <div class="row">
            <!--<div class="col-md-12" *ngIf="!isBusy && !productError && productSuccess && !approvingUser && !decliningUser">-->
            <div class="col-sm-12 col-md-12 col-lg-12">
              <div class="col-lg-12 col-md-12 col-sm-12 new-btn">
                <button class="btn btn-sm btn-success pull-right"
                        [routerLink]="['/products/product-save']">
                  New Product
                </button>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-12 tableScroll"
                   *ngIf="products?.length && !isBusy">
                <table datatable
                       [dtOptions]="DtOptions"
                       class="footable table table-striped table-bordered table-hover"
                       id="editable">
                  <thead>
                    <tr>
                      <th id="id">
                        <span class="fa fa-list-ol skin-dark"></span> ID
                      </th>
                      <th><span class="fa fa-truck"></span> Name</th>
                      <!-- <th>Type</th> -->
                      <th>
                        <span class="fa fa-info-circle skin-dark"></span> Description
                      </th>
                      <th>
                        <span class="fa fa-info-circle skin-dark"></span>
                        Quantity
                      </th>
                      <th>
                        <span class="fa fa-envelope skin-dark"></span> Enabled
                      </th>
                      <th>
                        <span class="fa fa-calendar"></span> Product Status
                      </th>
                      <!-- <th>Linked Dealers</th> -->
                      <th><span class="fa fa-cogs"></span> Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let product of products">
                      <td>{{ product.productId }}</td>
                      <td>{{ product.name }}</td>
                      <td>{{product.productDesciption}}</td>
                      <td>{{ product.quantity }}</td>
                      <td>{{ product.enabled }}</td>
                      <td>{{ product.productStatus }}</td>
                      <td>
                       

                        <select>
                          <option (click)="update(product.productId)">
                            Update Product
                          </option>
                        </select>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <br />
            <!-- <div class="col-sm-12 col-md-12 col-lg-12">
              <div *ngIf="approvingUser">
                <div class="alert alert-info">
                  <h4><i class="fa fa-spinner fa-spin"></i> Approving product...</h4>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12">
              <div *ngIf="decliningUser">
                <div class="alert alert-info">
                  <h4><i class="fa fa-spinner fa-spin"></i> Declining product...</h4>
                </div>
              </div>
            </div> -->
            <div class="col-sm-12 col-md-12 col-lg-12">
              <div class="col-md-12">
                <div class="alert alert-warning"
                     *ngIf="!isBusy && products?.length === 0">
                  <h4><i class="fa fa-info-circle"></i> No products found</h4>
                  Please click ''new .." button to enter a new record
                </div>
              </div>
            </div>

            <div class="col-sm-12 col-md-12 col-lg-12">
              <div class="col-md-12">
                <div class="alert alert-info" *ngIf="isBusy">
                  <h4>
                    <i class="fa fa-spinner fa-spin"></i> Loading Products...
                  </h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script type="text/javascript">
  $(document).ready(function (e) {
    $(".search-panel .dropdown-menu")
      .find("a")
      .click(function (e) {
        e.preventDefault();
        var param = $(this).attr("href").replace("#", "");
        var concept = $(this).text();
        $(".search-panel span#search_concept").text(concept);
        $(".input-group #search_param").val(param);
      });
  });
</script>
